
# Build the hyrax-dependencies repo and snapshot that build if it works. This also builds
# static versions of the dependencies for use with the rpm builds of the BES.
#
# jhrg 2/23/18
#
# NB: Since the STARE library is part of our research work, include it in the 'travis'
# deps build and in the C7 version of the static deps. Don't include it in the C6 deps
# build since C++-11 is not part of C6 by default. We're leaving STARE out of the Debian
# package build for now as well. jhrg 10/28/19
#
# I removed CentOS 6 from our packages (10/27/20) since it is going to stop having
# maintenance releases in November 2020. jhrg
#
# I removed the Ubuntu/deb build because we're not using it. jhrg 12/08/20

dist: focal             # or bionic | xenial | trusty | precise | focal with xenial as default

vm:
  size: 2x-large       # options: large, x-large, 2x-large. These are EC2 instances. Default is 'medium'
                      # which is 2 vCPUs and 4 to 8 GB. Each size up from the default is 2x more

# Using 'shell' here causes a problem down in the 'deploy' section with loading a particular
# version of Ruby. jhrg 1/5/24
#
#
language: cpp

compiler: gcc

branches:
  only:
    - master
    - main
    - /^(.*-test-deploy)$/

addons:
  apt:
    packages:
      - uuid-dev
      - libxml2-dev
      - libcurl4-openssl-dev
      - libcurl4
      - libcppunit-dev
      - libicu-dev
      - libsqlite3-dev

stages:
  - name: build
    if: branch = master OR branch = main OR branch =~ ^(.*-test-deploy)$
  - name: never
    if: branch = never

env:
  global:
    - EXPECTED_DEPS_COUNT=12
    - TIMEOUT=1000

jobs:
  include:
  - stage: build
    name: "ubuntu-focal"
    script:
      - echo "# ubuntu-focal - Expecting to build and install $EXPECTED_DEPS_COUNT dependencies." >&2
      - export prefix=$HOME/install
      - export EXPECTED_DEPS_COUNT=13
      - export extra_targets="aws_s2n_tls"
      - make -j16 for-travis
      - make list-built
      - export ARTIFACT=ubuntu
      - mkdir -p $TRAVIS_BUILD_DIR/package
      - tar -C $HOME -czvf $TRAVIS_BUILD_DIR/package/hyrax-dependencies-build.tar.gz install
      - ./travis/check-installed $EXPECTED_DEPS_COUNT

    # mkdir returns true if the directory already exists. This dir is used in 'before_deploy'.
  - stage: build
    name: "rocky8-static"
    script:
      - echo "# rocky8 - Expecting to build and install $EXPECTED_DEPS_COUNT dependencies." >&2
      - export extra_targets=""
      - install_dir=$HOME/rocky8/install
      - mkdir -p $install_dir
      - docker run 
        --env prefix=/root/install
        --env BUILD_NUMBER="$TRAVIS_BUILD_NUMBER"
        --volume $install_dir:/root/install 
        --volume $TRAVIS_BUILD_DIR:/root/hyrax-dependencies 
        opendap/rocky8_hyrax_builder:latest 
        /root/hyrax-dependencies/travis/build-for-rocky8-static.sh
      - export ARTIFACT=rocky8-static
      - mkdir -p $TRAVIS_BUILD_DIR/package
      - tar -C $HOME/rocky8/ -czvf $TRAVIS_BUILD_DIR/package/hyrax-dependencies-rocky8-static.tar.gz install
      - ./travis/check-installed $EXPECTED_DEPS_COUNT
      - ls -l  $TRAVIS_BUILD_DIR/package/

  - stage: build
    name: "rocky9-static"
    script:
      - echo "# rocky9 - Expecting to build and install $EXPECTED_DEPS_COUNT dependencies." >&2
      - export extra_targets=""
      - install_dir=$HOME/rocky9/install
      - mkdir -p $install_dir
      - docker run 
        --env prefix=/root/install 
        --env BUILD_NUMBER="$TRAVIS_BUILD_NUMBER"
        --volume $install_dir:/root/install 
        --volume $TRAVIS_BUILD_DIR:/root/hyrax-dependencies 
        opendap/rocky9_hyrax_builder:latest 
        /root/hyrax-dependencies/travis/build-for-rocky9-static.sh
      - export ARTIFACT=rocky9-static
      - mkdir -p $TRAVIS_BUILD_DIR/package
      - tar -C $HOME/rocky9/ -czvf $TRAVIS_BUILD_DIR/package/hyrax-dependencies-rocky9-static-$TRAVIS_BUILD_NUMBER.gz install
      - ./travis/check-installed $EXPECTED_DEPS_COUNT
      - ls -l  $TRAVIS_BUILD_DIR/package/

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: opendap.travis.build
    local_dir: $TRAVIS_BUILD_DIR/package
    # The documentation says we don't need 'skip_cleanup', but as of 1/12/22, we do. jhrg
    skip_cleanup: true
    on:
      all_branches: true
      # Was "branch: master". Now supports the *-test-deploy feature and also
      # using 'main' as the branch name. jhrg 1/5/24
      condition: $ARTIFACT =~ ^ubuntu|rocky8|rocky9$
