
# Build the hyrax-dependencies repo to validate that they will build on developer machines. This also builds
# static versions of the dependencies for use with the rpm builds of the BES.
#
# NB: Since the STARE library is part of our research work, include it in the 'travis'
# deps build and in the C7 version of the static deps. Don't include it in the C6 deps
# build since C++-11 is not part of C6 by default. We're leaving STARE out of the Debian
# package build for now as well. jhrg 10/28/19
#

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - master
  #     - main
  #     - /^(.*-test-deploy)$/
  pull_request:
  #   types: [opened, synchronize, reopened, ready_for_review]
concurrency:
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    # Run on pushes or non-draft PRs
    if: (github.event_name == 'push') || (github.event.pull_request.draft == false) || (github.event_name == 'workflow_dispatch')
    name: Julia ${{ matrix.version }} - ${{ matrix.runs-on }} - ${{ matrix.threads}} threads - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          # See https://github.com/actions/runner-images/blob/main/images/macos/macos-13-Readme.md for pre-installed software
          - macos-15
          # - macos-15-intel
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          brew install bison \
                       openssl \
                       jpeg \
                       cppunit \
                       autoconf \
                       automake \
        shell: bash
      - name: Make ${{ matrix.version }} developer build 
        run: |
            export prefix=$HOME/install
            hyrax_setup_env
            cd bes
            autoreconf --force --install --verbose
            ./configure --prefix=$prefix  --with-dependencies=$prefix/deps --enable-developer
            make -j16 for-travis
            make list-built
        shell: bash